<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문 목록 보기</title>
</head>
<body>
<div>
    <a href="/route">route</a>
</div>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="question: ${questionList}">
            <td>
                <a th:href="@{|/question/detail/${question.id}|}"
                   th:text="${question.subject}">
                </a>
            </td>
            <td th:text="${question.content}">(내용)</td>
            <td th:text="${question.createDate}">(작성일시)</td>
        </tr>
    </tbody>
</table>
</body>
</html>