<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>질문 목록 보기</title>
</head>
<body>
<div>
    <a href="/route">route</a>
</div>

<div class="container-my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop: ${questionList}">
            <td th:text="${loop.count}">0</td>
            <td>
                <a th:href="@{|/question/detail/${question.id}|}"
                   th:text="${question.subject}">
                </a>
            </td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}">(작성일시)</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>